*.iml
/.idea/
grails-app/views/_git.gsp
grails-app/views/git
out/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
/target/

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target/

# tests temp files
fileFive.csv
fileFour.csv
fileThree.csv
fileTwo.csv

# JMS Files
/activemq-data
fileFive.csv
fileFour.csv
fileTwo.csv
fileThree.csv

.slcache
